<!DOCTYPE html>
<html lang="en">
<head>
    
    {{!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <title></title>
</head>
<body>
    <footer >
        <center>
            <p style="padding: 2rem; margin:0"> Created by: {{name}}</p>
        </center>
    </footer>
    
</body>
</html>