h1{
    font-size: 50px !important;
}

.myimg{
    width: 300px;
    /* padding: rem; */
    margin: auto;
}

h2{
    color: blue;
}

body{
    background-color: wheat !important;
    font-family: Arial, Helvetica, sans-serif !important;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

footer{
    background-color: black;
    color: white;
}

/* header{
    background-color: black;
    color: white;
    margin-bottom: 20px;
} */

header a{
    
    color: #888888;
    margin-right: 10px;
    text-decoration: none;
}

.mainbox{
    width: fit-content;
    margin: auto;
    border: 2px solid black;
    padding: 2rem;
    border-radius: 20px;
}